@using LNMTVocab.Data;
@model IEnumerable<Glossary>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-1">
           <label>Novel Id</label>

        </div>
        <div class="col-md-11">
            <input type="text" />
        </div>
    </div>
</div>


<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Length</th>
            <th>Term</th>
            <th>Meaning</th>
            
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Length</th>
            <th>Term</th>
            <th>Meaning</th>

        </tr>
    </tfoot>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.vocabLength</td>
                <td>@item.vocab</td>
                <td>@item.meaning</td>
            </tr>
        }

    </tbody>
</table>


@section Scripts
{
    /
    <script type="text/javascript">
        $(document).ready(function () {

            // Do your custom javascript for this view here. Will be run after
            // loading all the other scripts.
            $('#example').DataTable({
                "order": [[0, "desc"]]
            });
        });
    </script>
}
